.container{
    overflow-y: hidden;
    background: rgb(223, 151, 70);
    
    padding: 0 5vw;
    transition: height .5s linear;
}

.container.close{
    height: 5vw;
}

.titleBox{
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 16px;
    font-weight: 200;
}

.button{
    outline: none;
    background: rgb(218, 99, 63);
    border: 1px solid #444;

    width: calc(1.5rem + 1vw);
    height: calc(1.5rem + 1vw);
    margin: 0 calc(.5rem + 1.5vw);
}

.description{
    padding: 2.5vw 0;
}
